.contact{
    padding:20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding-top: 150px;
}
.form-container{
    background-color: white;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 1.2em;
    color:#333;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 45px;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-color: black;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-color-button);
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: #03b2b2 0px 4px 5px rgba(0, 0, 0, 0.1);
    width:100% ;

}
button:hover {
    background-color: #b82453;
}

